In [ ]:
def prog_add(a,b):
  return a+b

In [ ]:
def prog_add(a,b,c):
  return a+b+c

In [ ]:
def prog_add(a,b,c,d,e,f,g,h,i,j):
  return a+b+c+d+e+f+g+h+i+j

*args passes variable number of non-keyworded arguments and on which operation of the tuple can be performed.

In [ ]:
def prog_add(*args):
  return sum(args)

In [ ]:
prog_add(1,2,3,4,5,6,7,8,9,10,11)

66

In [ ]:
prog_add(1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,9,10,11,)

330

In [ ]:
prog_add(1,2,3,1.2,1.3,1.4)

9.9

In [ ]:
def prog_add(*args):
  print(args)

In [ ]:
prog_add([1,2,3,1.2,1.3,1.4], (1,2,3,1.2,1.3,1.4))

([1, 2, 3, 1.2, 1.3, 1.4], (1, 2, 3, 1.2, 1.3, 1.4))

In [ ]:
prog_add(['apple','python',11,-22,-33, 4.4,-5.5,12+7j,-9-8j,True,False],('apple','python',11,-22,-33, 4.4,-5.5,12+7j,-9-8j,True,False),{'apple','python',11,-22,-33, 4.4,-5.5,12+7j,-9-8j,True,False})

(['apple', 'python', 11, -22, -33, 4.4, -5.5, (12+7j), (-9-8j), True, False], ('apple', 'python', 11, -22, -33, 4.4, -5.5, (12+7j), (-9-8j), True, False), {False, (12+7j), True, 4.4, -22, 11, (-9-8j), 'apple', 'python', -5.5, -33})

    What is Python *args?

    The special syntax *args in function definitions in Python is used to pass a variable number of arguments to a function. It is used to pass a non-keyworded, variable-length argument list.

    The syntax is to use the symbol * to take in a variable number of arguments; by convention, it is often used with the word args.

    What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined. With *args, any number of extra arguments can be tacked on to your current formal parameters (including zero extra arguments).

    For example, we want to make a multiply function that takes any number of arguments and is able to multiply them all together. It can be done using *args.

    Using the *, the variable that we associate with the * becomes iterable meaning you can do things like iterate over it, run some higher-order functions such as map and filter, etc.

In [ ]:
def arthi_operation(*python):
  a = 0
  for i in python:
    print('value inside argument python ', i)

    a += i
  return a

In [ ]:
arthi_operation(1,2,3,4,5,6,7,8,9,10,11,12)

In [ ]:
def myFun(arg1, arg2, arg3, *argv):
    print("First argument :", arg1, arg2, arg3)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'Python Program', 'Pune', "Practice", 'Point to point')

First argument : Hello Welcome to
Next argument through *argv : Python Program
Next argument through *argv : Pune
Next argument through *argv : Practice
Next argument through *argv : Point to point

In [ ]:
def myFun(*argv, arg1, arg2, arg3):
    print("First argument :", arg1, arg2, arg3)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'Python Program', 'Pune', "Practice", 'Point to point')

In [ ]:
def myFun(*argv):
    # print("First argument :", arg1, arg2, arg3)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'Python Program', 'Pune', "Practice", 'Point to point')

Next argument through *argv : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : Python Program
Next argument through *argv : Pune
Next argument through *argv : Practice
Next argument through *argv : Point to point

    What is Python **kwargs?


    The special syntax **kwargs in function definitions in Python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is that the double star allows us to pass through keyword arguments (and any number of them).

    A keyword argument is where you provide a name to the variable as you pass it into the function.


    One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it. That is why when we iterate over the kwargs there doesn’t seem to be any order in which they were printed out.

In [ ]:
def display_val(**kwargs):
  return kwargs

In [ ]:
display_val(1,2,3,4,5,6,7,8,9)

In [ ]:
display_val(num1 = 1)

{'num1': 1}

In [ ]:
display_val(num9=1,num8=2,num7=3,num6=4,num5=5,num4=6,num3=7,num2=8,num1=9)

{'num9': 1,
 'num8': 2,
 'num7': 3,
 'num6': 4,
 'num5': 5,
 'num4': 6,
 'num3': 7,
 'num2': 8,
 'num1': 9}

In [ ]:
# def both_together(*args,**kwargs):
def both_together(*ramlal,**shyamlal):
  return ramlal,shyamlal
#both_together(1,2,3,4,5)
#both_together(1,2,3,4,5,num9=1,num8=2,num7=3,num6=4,num5=5)
both_together(num9=1,num8=2,num7=3,num6=4,num5=5,1,2,3,4,5)

SyntaxError: ignored

In [ ]:
# def both_together(*args,**kwargs):
def both_together(**shyamlal, *ramlal):
  return ramlal,shyamlal
#both_together(1,2,3,4,5)
#both_together(1,2,3,4,5,num9=1,num8=2,num7=3,num6=4,num5=5)
both_together(num9=1,num8=2,num7=3,num6=4,num5=5,1,2,3,4,5)

In [ ]:
def both_together(arg1, arg2, arg3, *ramlal, **shyamlal):
  pass

In [ ]:
def both_together(arg1, arg2, arg3, *ramlal, **shyamlal):
  return arg1, arg2, arg3, ramlal, shyamlal

both_together(12,23,34,[1,2,3,4,5],(3,4,5,6,7),{5,5,6,6,6,7,7,7,7,8,8,8,8,8},{'a':'apple','b':'banana','c':'cherries'}, delta=[1,2,3,4,5],gamma=(3,4,5,6,7),beta={5,5,6,6,6,7,7,7,7,8,8,8,8,8},alpha={'a':'apple','b':'banana','c':'cherries'})

(12,
 23,
 34,
 ([1, 2, 3, 4, 5],
  (3, 4, 5, 6, 7),
  {5, 6, 7, 8},
  {'a': 'apple', 'b': 'banana', 'c': 'cherries'}),
 {'delta': [1, 2, 3, 4, 5],
  'gamma': (3, 4, 5, 6, 7),
  'beta': {5, 6, 7, 8},
  'alpha': {'a': 'apple', 'b': 'banana', 'c': 'cherries'}})

# Exception Handling

In [ ]:
print("Welcome to Python Programming")

Welcome to Python Programming

In [ ]:
print("Welcome to Python Programming') # SyntaxError: unterminated string literal (detected at line 1)

SyntaxError: ignored

In [ ]:
for i in range(100) # SyntaxError: expected ':'
  print(i)

SyntaxError: ignored

In [ ]:
a=100
if a > 10:
print('value of a', a) # IndentationError: expected an indented block after 'if' statement on line 2

IndentationError: ignored

In [ ]:
pri = 100000
rate = 10
dur = 5

si = (pri*rate*dur)/100

print("simple interest ", si)

simple interest  50000.0

In [ ]:
si = 100000
rate = int(input("Please enter rate of intrest "))
dur = 5

# si = (pri*rate*dur)/100

pri = (si * 100)/(rate * dur)

print("principle ", pri)

Please enter rate of intrest 0

ZeroDivisionError: ignored

In [ ]:
del pri

In [ ]:
try:
  si = 100000
  rate = int(input("Please enter rate of intrest "))
  dur = 5

  # si = (pri*rate*dur)/100

  pri = (si * 100)/(rate * dur)
except ZeroDivisionError as zde:
  print('Exception ZeroDivisionError ', zde)

Please enter rate of intrest 0
Exception ZeroDivisionError  division by zero

In [ ]:
tup1 = (1,2,3,4,5)
tup1.index(3), tup1.count(4)

(2, 1)

In [ ]:
tup1 = (1,2,3,4,5)
tup1.index()
tup1.count()

tup1.append(6)

print(tup1)

AttributeError: ignored

In [ ]:
try:
  tup1 = (1,2,3,4,5)

  tup1.append(6)
except AttributeError as ae:
  print('exception AttributeError ', ae)

exception AttributeError  'tuple' object has no attribute 'append'

In [ ]:
lst1 = [11,12,13,14,15,16,17,18,19,20]

for i in lst1:
  print(lst1[i])

IndexError: ignored

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:
    print(lst1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)

Exception IndexError  list index out of range

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:

    print(lst1[i])
except Exception as ie:
  print('Exception ', ie)

Exception  list index out of range

In [ ]:
try:
  lst1 = [11,12,13,14,15,16,17,18,19,20]

  for i in lst1:
    print(lst1[i])
except Exception as ie:
  print('Exception ', ie)
except IndexError as ie:
  print('Exception IndexError ', ie)

Exception  list index out of range

In [ ]:
try:
  tup1 = (11,12,13,14,15,16,17,18,19,20)

  for i in tup1:
    print(tup1[i])
    tup1.append(tup1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)
except Exception as ie:
  print('Exception ', ie)

Exception IndexError  tuple index out of range

In [ ]:
try:
  tup1 = (11,12,13,14,15,16,17,18,19,20)

  for i in tup1:
    tup1.append(tup1[i])
    print(tup1[i])
except IndexError as ie:
  print('Exception IndexError ', ie)
except Exception as ie:
  print('Exception ', ie)

Exception  'tuple' object has no attribute 'append'

In [ ]:
# write a program
# 1. Exception
# 2. ZeroDivisionError
# 3. AttributeError
# 4. IndexError

In [ ]:
1. Syntax Error
2. Logical Error
3. Runtime Error

In [ ]:
# ImportError
# ModuleNotFoundError

import pandas
import pazdas # ModuleNotFoundError: No module named 'pazdas'

ModuleNotFoundError: ignored

In [ ]:
# FileExistsError
# FileNotFoundError

In [ ]:
# File Handling

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In [ ]:
f = open("NewFile18052023.txt", 'x')

In [ ]:
f = open('NewFile18052023.txt')

In [ ]:
f = open('NewFile18052023.txt', 'rt')

In [ ]:
f = open("NewFile18052023.txt", 'w')

In [ ]:
len("this is my first file handling programming")

42

In [ ]:
f.write("this is my first file handling programming")

42

In [ ]:
f.close()

In [ ]:
f = open('NewFile18052023.txt', 'r')

In [ ]:
print(f.read())

this is my first file handling programming

In [ ]:
f = open("NewFile18052023.txt", 'a')

In [ ]:
f.write("this is second line of my text file...")

38

In [ ]:
f.close()

In [ ]:
f = open('NewFile18052023.txt', 'r')

In [ ]:
print(f.read())

this is my first file handling programmingthis is second line of my text file...

In [ ]:
f = open("NewFile18052023.txt", 'x')

FileExistsError: ignored

In [ ]:
f = open('NewFile180520232.txt', 'r')

FileNotFoundError: ignored

# Object Oriented Programming

In [ ]:
# Object is instance of class

In [ ]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
a,b,c,d,e,f,g,h,i,j = 0,1,2,3,4,5,6,7,8,9
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
a,b,c,d,e,f,g,h,i,j = 1.0,2.1,3.2,4.3,5.4,6.5,7.6,8.7,9.8,0.9
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
"iPhone 15 Pro"

1. existing fs_encoding
2. new features
3. change in design
4. security
5. test


"iPhone 15 Pro" class
"iPhone 15 Pro" 100 million copies object

In [ ]:
class my_first_class:
  print("class my_first_class")

class my_first_class

In [ ]:
a = my_first_class()
print(a)
print(type(a))
a

<__main__.my_first_class object at 0x7f1ef964ff40>
<class '__main__.my_first_class'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
class my_2nd_class:
  x = "x is variable of my_2nd_class"

In [ ]:
a1 = my_2nd_class()

In [ ]:
a1.x

'x is variable of my_2nd_class'

In [ ]:
class my_3rd_class:
  x1 = "x1 is variable inside my_3rd_class"
  print(type(x1))
  x2 = "x2 is variable inside my_3rd_class"
  print(type(x2))

<class 'str'>
<class 'str'>

In [ ]:
z = my_3rd_class()

In [ ]:
z.x1, z.x2

('x1 is variable inside my_3rd_class', 'x2 is variable inside my_3rd_class')

In [ ]:
class iPhone15Pro:
  pass

In [ ]:
a = iPhone15Pro() # Object 'a' is instance of class iPhone15Pro
print(type(a))

<class '__main__.iPhone15Pro'>

In [ ]:
b = iPhone15Pro() # Object 'b' is instance of class iPhone15Pro
print(type(b))

<class '__main__.iPhone15Pro'>

In [ ]:
class iPhone15Pro:
  print("#@^iPhone15Pro^@#")

#@^iPhone15Pro^@#

In [ ]:
a = iPhone15Pro()
print(type(a))
a

<class '__main__.iPhone15Pro'>

In [ ]:
class iPhone15Pro:
  a = "#@^iPhone15Pro^@#"

In [ ]:
a1 = iPhone15Pro() # Object 'a1' is instance of class iPhone15Pro
print(type(a))
a1.a

<class '__main__.iPhone15Pro'>

'#@^iPhone15Pro^@#'

    1. create class dellXzen
    2. create 3 variable dell1, dell2, dell3
    3. create 3 objects dXz1, dXz2, dXz3
    4. from each object access variable

In [ ]:
class dellXzen:
  dell1, dell2, dell3 = 'dellXzen - dell1', 'dellXzen - dell2', 'dellXzen - dell3'

In [ ]:
dXz1 = dellXzen()
print(dXz1.dell1)
print(dXz1.dell2)
print(dXz1.dell3)

dXz2 = dellXzen()
print(dXz2.dell1)
print(dXz2.dell2)
print(dXz2.dell3)

dXz3 = dellXzen()
print(dXz3.dell1)
print(dXz3.dell2)
print(dXz3.dell3)

dellXzen - dell1
dellXzen - dell2
dellXzen - dell3
dellXzen - dell1
dellXzen - dell2
dellXzen - dell3
dellXzen - dell1
dellXzen - dell2
dellXzen - dell3

In [ ]:
class iPhone15Pro:
  def __init__(self):
    pass

In [ ]:
a = iPhone15Pro()
print(type(a))

<class '__main__.iPhone15Pro'>

In [ ]:
class iPhone15Pro:
  def __init__(self, model, price):
    self.model = model
    self.price = price

In [ ]:
a = iPhone15Pro('i 15 Pro', 123456)
print(type(a))

<class '__main__.iPhone15Pro'>

In [ ]:
class iPhone15Pro:
  def __init__(self, model, price):
    self.model = model
    self.price = price
    # a = "model: ", self.model , "price: ", self.price

In [ ]:
class iPhone15Pro:
  def __init__(self, model, price):
    self.model = model
    self.price = price
    print("model: ", self.model , "price: ", self.price)
  def print_info(self):
    pass
    #print("model: ", self.model , "price: ", self.price)

In [ ]:
a1 = iPhone15Pro('i 15 Pro', 123456)
a1.print_info()

model:  i 15 Pro price:  123456

The python __init__ method is declared within a class and is used to initialize the attributes of an object as soon as the object is formed. While giving the definition for an __init__(self) method, a default parameter, named 'self' is always passed in its argument. This self represents the object of the class itself.

In [ ]:
class iPhone15Pro:
  def __init__(self, processor, ram, int_mem, display, camera):
    self.processor = processor
    self.ram = ram
    self.int_mem = int_mem
    self.display = display
    self.camera = camera

  def print_details(self):
    print("Processor: ", self.processor,
          "RAM: ", self.ram,
          "Internal Memory: ", self.int_mem,
          "Display: ", self.display,
          "Camera: ", self.camera)

# Inheritance

In [ ]:
class computer: # Grand Parent Class
  def __init__(self):
    pass

In [ ]:
class desktop(computer): # Parent Class
  pass
class laptop(computer):
  pass
class tablet(computer):
  pass
class notebook(computer):
  pass

In [ ]:
class i3_desktop(desktop): # Child Class
  pass
class i5_desktop(desktop):
  pass
class i7_desktop(desktop):
  pass
class i9_desktop(desktop):
  pass

In [ ]:
class RAM64GB_i3desk(i3_desktop):
  pass
class RAM128GB_i3desk(i3_desktop):
  pass
class RAM256GB_i3desk(i3_desktop):
  pass
class RAM512GB_i3desk(i3_desktop):
  pass

In [ ]:
class computer: # Great Grand Parent Class
  def __init__(self):
    pass

class desktop(computer): # Grand Parent Class
  pass

class i3_desktop(desktop): # Parent Class
  pass

class RAM64GB_i3desk(i3_desktop): # Child Class
  pass

In [ ]:
class computer: # Great Grand Parent Class
  def __init__(self, name, city):
    self.name = name
    self.city = city
  def print_details(self):
    print('My name is ', self.name, "I live in city ", self.city)

class desktop(computer): # Grand Parent Class
  pass

In [ ]:
comp1 = computer('Lenove', 'NY')
comp1.print_details()
print(type(comp1))

My name is  Lenove I live in city  NY
<class '__main__.computer'>

In [ ]:
comp1 = desktop('Dell', 'CA')
comp1.print_details()
print(type(comp1))

My name is  Dell I live in city  CA
<class '__main__.desktop'>

In [ ]:
class person: # Parent
  def __init__(self, name, lname):
    self.firstname = name
    self.lastname = lname

  def printname(self):
    print("First Name in class person: ", self.firstname, "Last Name", self.lastname)


class student(person): # Child
  pass

In [ ]:
stud1 = person('Krishna', 'S')
stud1.printname()

First Name in class person:  Krishna Last Name S

In [ ]:
stud2 = student('Mahadev', 'R')
stud2.printname()

First Name in class person:  Mahadev Last Name R

In [ ]:
class person:
  def __init__(self, name, lname):
    self.firstname = name
    self.lastname = lname

  def printname(self):
    print("First Name in class person: ", self.firstname, "Last Name", self.lastname)

In [ ]:
class student(person):
  def __init__(self, name, lname):
    self.firstname = name
    self.lastname = lname

  def printname(self):
    print("First Name in class student(person): ", self.firstname, "Last Name", self.lastname)

In [ ]:
stud1 = person('Krishna', 'S')
stud1.printname()

First Name in class person:  Krishna Last Name S

In [ ]:
stud2 = student('Mahadev', 'R')
stud2.printname()

First Name in class student(person):  Mahadev Last Name R